@using ByteCarrot.Masslog.Web.Views.Infrastructure
@model ByteCarrot.Masslog.Web.Controllers.Account.ChangePasswordViewModel

<form class="form-horizontal" action="">
    <h2 class="page">Change Password</h2>
    @Html.TbUneditableFor(x => x.Username)
    @Html.TbPasswordFor(x => x.OldPassword)
    @Html.TbPasswordFor(x => x.NewPassword)
    @Html.TbPasswordFor(x => x.NewPassword2)

    <div class="form-actions">
        <button class="btn" data-jo='{"action":"post","url":"@Url.Action(MVC.Account.ActionNames.ChangePassword)","target":"#container","form":"#container > form"}'><span class="icon-ok"></span>&nbsp;Change</button>
        <button class="btn btn-danger" data-jo='{"action":"get","url":"@Url.Action(MVC.Activities.Index())","target":"#container","confirm":"Are you sure? All data in the form will be lost."}'>Cancel</button>
    </div>
</form>