@using ByteCarrot.Masslog.Core.Infrastructure
@using ByteCarrot.Masslog.Core.Infrastructure.Extensions
@using ByteCarrot.Masslog.Web.Controllers.Account
@using ByteCarrot.Masslog.Web.Views.Infrastructure
@using MvcContrib.UI.Grid
@model UsersViewModel

@helper Actions(string id) {
    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog"></i>&nbsp;Action&nbsp;<i class="caret"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" data-jo='{"action":"get","url":"@Url.Action(MVC.Account.ActionNames.Edit, new { id })","target":"#container"}'><i class="icon-pencil"></i>&nbsp;Edit</a></li>
            <li><a href="#" data-jo='{"action":"get","url":"@Url.Action(MVC.Account.ActionNames.Delete, new { id })","target":"#container","confirm":"Are you sure? The account and all related data will be permanently deleted."}'><i class="icon-remove"></i>&nbsp;Delete</a></li>
        </ul>
    </div>
}

@helper IsAdmin(UserViewModel m) {
    if (m.IsAdministrator)
    {
        <i class="icon-ok"></i>
    }
}

<h2 class="page">Users</h2>
<div class="form-actions form-toolbar">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn" data-jo='{"action":"get","url":"@Url.Action(MVC.Account.Add())","target":"#container"}'><i class="icon-plus"></i>&nbsp;Add</button>
        </div>
    </div>
</div>

@if (!Model.Message.Empty())
{
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        @Model.Message
    </div>
}

@(Html.Grid(Model.Items)
    .Sort(Model.SortOptions)
    .RenderUsing(new ExtendedHtmlTableGridRenderer<UserViewModel>("#container"))
    .Columns(c =>
    {
        c.For(x => x.Username).TextColumn();
        c.For(x => IsAdmin(x)).BooleanColumn().Named("Admin")
            .SortColumnName(Name.Of<UserViewModel, bool>(m => m.IsAdministrator));
        c.For(x => Model.CurrentUsername == x.Username ? null : Actions(x.Id)).ActionsColumn().Sortable(false);
    }))